<footer class="bg-dark text-white pt-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Công ty MTV ABC MySite</h4>
                <p>Hotline: 0945406788<br>
                Địa chỉ: 300/3 NTS, p4, Gò Vấp, tp.HCM<br>
                Website: <a href="http://www.mysite.org" class="text-white" target="_blank">www.mysite.org</a></p>
            </div>
            <div class="col-md-4">
                <h4>Liên kết nhanh</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Home</a></li>
                    <li><a href="#" class="text-white">Features</a></li>
                    <li><a href="#" class="text-white">Pricing</a></li>
                    <li><a href="#" class="text-white">Disabled</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Địa chỉ trên bản đồ</h4>
                <div class="ratio ratio-4x3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4969478246967!2d106.6552088152605!3d10.762622992333936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175292927b9f947%3A0x955c1458d2d45dd6!2s300%2F3%20NTS%2C%20P4%2C%20G%C3%B2%20V%E1%BA%A5p%2C%20tp.HCM!5e0!3m2!1sen!2s!4v1632849857281!5m2!1sen!2s" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; 2024 Công ty MTV ABC MySite. All rights reserved.</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="./template/js/jsmain.js"></script>
</body>
</html>